/* General */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1f1f1f;
    color: #fff;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: #111;
}

.header .logo {
    font-size: 28px;
    font-weight: bold;
    color: #ff23d0;
    text-shadow: 0 0 8px rgba(255, 35, 208, 0.6);
}

.header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Dashboard */
.dashboard {
    padding: 30px 50px;
}

.dashboard-title {
    font-size: 36px;
    color: #ff23d0;
    text-shadow: 0 0 8px rgba(255, 35, 208, 0.6);
    margin-bottom: 30px;
}

/* Cards */
.cards {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.card {
    background-color: #2b2b2b;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    min-width: 400px;
    box-shadow: 0 5px 15px rgba(255, 35, 208, 0.2);
}

.card h2 {
    margin-top: 0;
    color: #ff23d0;
    text-shadow: 0 0 8px rgba(255, 35, 208, 0.6);
}

/* Tables */
.card table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

.card table th,
.card table td {
    padding: 10px;
    border-bottom: 1px solid #444;
}

.card table th {
    text-align: left;
    color: #ff23d0;
}

.card table tr:hover {
    background-color: rgba(255, 35, 208, 0.1);
}
.news-header {
    display: flex;
    align-items: center !important;
    justify-content: space-between;
    gap: 20px;
}
.news-header a {
    color: white;
}
.news-header h2 {
    margin-bottom: 0px;
}
.edit-btn {
    background-color: #ff23d0;
    color: white;
    border: 1px solid rgba(255, 0, 255, 0.4);
    padding: 8px 16px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s ease;
    backdrop-filter: blur(10px);
    cursor: pointer;
}
.edit-btn a {
    color:white;
    text-decoration: none;
}

.edit-btn:hover {
    background: rgba(255, 0, 255, 0.2);
    color: white;
    box-shadow: 0 0 20px rgba(255,0,255,0.3);
}

.delete-btn {
    background-color: #ff23d0;
    color: white;
    border: 1px solid rgba(255, 0, 255, 0.4);
    padding: 8px 16px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s ease;
    backdrop-filter: blur(10px);
    cursor: pointer;
}
.delete-btn a {
    color:white;
    text-decoration: none;
}

.delete-btn:hover {
    background: rgba(255, 0, 255, 0.2);
    color: white;
    box-shadow: 0 0 20px rgba(255,0,255,0.3);
}
.update-delete {
    display: flex;
    border-bottom: 0px !important;
    gap:20px;
}