* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #111;
  color: #fff;
}


.hero {
  position: relative;
  height: 60vh;
  background: url("../images/br.png") center/cover no-repeat;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.65);
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hero-content h1 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 10px;
}

.hero-content p {
  font-size: 15px;
  color: #ccc;
}


.events {
  padding: 70px 40px;
}

.events h2 {
  text-align: center;
  margin-bottom: 40px;
  color: magenta;
}

.events-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
}

.event-card {
  background: #1a1a1a;
  border-radius: 14px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.event-card:hover {
  transform: translateY(-6px);
}

.event-card img {
  width: 100%;
  height: 190px;
  object-fit: cover;
}

.event-info {
  padding: 18px;
}

.event-info h3 {
  color: #ff66cc;
  font-size: 17px;
  margin-bottom: 6px;
}

.event-info p {
  font-size: 14px;
  color: #bbb;
}

.event-info span {
  font-size: 13px;
  color: #888;
}


.contact-cta {
  background: #1a1a1a;
  padding: 70px 20px;
  text-align: center;
}

.contact-cta a {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 26px;
  background: magenta;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
}

.contact-cta a:hover {
  background: #ff66cc;
}


.footer {
  background: #000;
  text-align: center;
  padding: 20px;
  color: #777;
  font-size: 13px;
}
