body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  background: linear-gradient(135deg, #0a0a0f, #1a0028, #32004b);
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 18px 40px;
  background: rgba(0,0,0,0.85);
}

.logo {
  font-size: 26px;
  font-weight: 800;
}

.accent {
  color: #ff23d0;
}



.center-form {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-box {
  width: 100%;
  max-width: 400px;
  padding: 35px;
  background: rgba(255,255,255,0.08);
  border-radius: 15px;
}

.form-box h2 {
  color: #ff23d0;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 12px;
  border-radius: 8px;
  border: none;
  background: rgba(255,255,255,0.1);
  color: white;
}

button {
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(135deg,#ff23d0,#b954ff);
  color: white;
  cursor: pointer;
}

small {
  font-size: 13px;
  color: red;
}

#successMessage {
  color: lime;
  text-align: center;
}


